* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/GilroyBold/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../fonts/GilroySemiBold/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/GilroyMedium/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
}

.center {
    padding-left: calc(50% - 1170px/2);
    padding-right: calc(50% - 1170px/2);
}

.main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.main__header__logo__text {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__header__logo__text__end {
    color: #F25822;
}

.header__link__home {
    color: #F25822;
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__link {
    color: #000;
    font-family: "Gilroy-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav__header {
    display: flex;
    align-items: center;
    gap: 36px;
}

.main__content {
    padding-top: 44px;
    padding-bottom: 162px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40.94px
}

.content__left {
    display: flex;
    flex-direction: column;
}

.content__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 72px;
}

.title {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.sub__title {
    color: #888;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.button__start {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.20);
    border: 0;
    color: #FFF;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 35px;
}

.button__video {
    color: #AAA;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__logo {
    margin-top: 97px;
    margin-bottom: 97px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 46.8px;
}