* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/GilroyBold/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../fonts/GilroySemiBold/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/GilroyMedium/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/GilroyRegular/GilroyRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
}

.center {
    padding-left: calc(50% - 1170px/2);
    padding-right: calc(50% - 1170px/2);
}

.main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.main__header__logo__text {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__header__logo__text__end {
    color: #F25822;
}

.header__link__home {
    color: #F25822;
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__link {
    color: #000;
    font-family: "Gilroy-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav__header {
    display: flex;
    align-items: center;
    gap: 36px;
}

.main__content {
    padding-top: 44px;
    padding-bottom: 162px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40.94px
}

.content__left {
    display: flex;
    flex-direction: column;
}

.content__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 72px;
}

.title {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.sub__title {
    color: #888;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.button__start {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.20);
    border: 0;
    color: #FFF;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 35px;
}

.button__video {
    color: #AAA;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__logo {
    margin-top: 97px;
    margin-bottom: 97px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 46.8px;
}

.page2 {
    background: #FAFAFA;
    /* padding-top: 127px; */
    /* padding-bottom: 124px; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.title__page2 {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.sub__title__page2 {
    color: #666;
    font-family: "Gilroy-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    margin-bottom: 35px;
}

.button__page2 {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    padding: 15px 31px;
}

.page3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.box__page3 {
    padding: 40px 30px 25px 30px;
}

.box2__page3 {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.icon__page3 {
    margin-bottom: 25px;
}

.title__page3 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.sub__title__page3 {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
    margin-bottom: 25px;
}

.read__more {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */
}

.page4 {
    padding-top: 92px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
}

.content__for__page4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.content__page4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    padding-bottom: 50px;
}

.content2__page4 {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.title__page4 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
}

.subtitle__page4 {
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    margin-bottom: 55px;
    margin-left: 244px;
    margin-right: 244px;
    ;
}

.title__content__page4 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtitle__content__page4 {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-right: 30px;
    margin-left: 30px;
    /* 22.5px */
}

.photo__page4 {
    margin-bottom: 6px;
}

.title__content__page4 {
    margin-bottom: 22px;
}

.subtitle__content__page4 {
    margin-bottom: 39px;
}

.button__page4 {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    padding: 15px 36px;
}

.arrow {
    margin-left: 6px;
}